# dependencias
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/

# producción / cachés
*.tsbuildinfo
next-env.d.ts

# entorno y secretos
.env
.env*.local
!.env.example

# datos locales
pgdata/
tordata/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# SO
.DS_Store
Thumbs.db
